@charset "UTF-8";

//--------------------- extend ---------------------//

// wordbreak
%wb {
  word-break: break-all;
  word-wrap: break-word;
}

// 文字超出显示省略号
%tof {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// clearfix
%cf {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//垂直居中
%vm {
    &:after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: "";
    }
}
%vm-css3 {
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 50%;
}

//--------------------- mixin ---------------------//

// 设置透明度 0~100
@mixin opacity($s) {
  	opacity: $s/100;
  	filter: alpha(opacity=$op);
}


// 小三角
@mixin triangle($d:top,$color:#ddd,$xsize:10px,$ysize:10px) {
    width: 0;
    height: 0;
    border-style:solid;
    border-width: $xsize $ysize;
    border-color: transparent;
    border-#{$d}-color: $color;
}

// 绝对定位居中
@mixin abm($left:-50%,$top:-50%) {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: $left;
    margin-top: $top;
}


//渐变效果
@mixin transition($type:color) {
    transition: $type 0.3s ease-out;
}

//hover and active
//$data-hover: ($n1,$hover,$active)($n2,$hover,$active)($n3,$hover,$active);
@mixin hovers($data) {
    $ease: .3s ease-out;
    $return: nth(nth($data,1),1) $ease;
    @for $i from 2 through length($data) {
        $return: join(#{$return}, #{nth(nth($data,$i),1) $ease}, 'comma');
    }
    transition: $return;
    &:hover {
        @each $prop, $hover, $active in $data {
            #{$prop}: $hover;
        }
    }
    &:active {
        @each $prop, $hover, $active in $data {
            #{$prop}: $active;
        }
    }
}
@mixin hover($n,$val1,$val2) {
    transition: $n 0.3s ease-out;
    &:hover {
        #{$n}: $val1;
    }
    &:active {
        #{$n}: $val2;
    }
}

// sprite
// $global_sprite:
//     ('img-logo', 'images/logo.png')  
//     ('img-logo2', 'images/logo2.png')  
// ;
// // each sprite
// @each $spName, $spSrc in $global_sprite {
//   	%#{$spName} {
//     	background-image: url($spSrc);
//     	background-repeat: no-repeat;
//   	}
// }
// @example:
//   @extend %icon;


// 背景图片
@mixin bgurl($url, $repeat:no-repeat, $x:left, $y:top) {
    background: url('../images/#{$url}') $repeat $x $y; 
}



// Gradients
@mixin linear-gradient($start, $end, $to:bottom) {
    background-color: $start; // Old browsers
    background-image: linear-gradient(to $to, $start 0%, $end 100%);     // W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}', GradientType=0 ); // IE6-9
}
@mixin directional-gradient($start, $end, $deg: 45deg) {
    background-color: $start; // Old browsers
    background-image: linear-gradient($deg, $start 0%, $end 100%);     // W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}', GradientType=1 ); // IE6-9
}