@charset "UTF-8";
// variables and mixins
@import "_base/_variables";
@import "_base/_mixin";
@import "_base/_css3";
@import "_base/_breakpoint";

$orange: #ff3300;
$primary: #003987;
$primary-second: #0099ff;
$gray: #c7c7c7;
$blue: #5d8aff;
$home-gray:#f2f3f8;
